.venv
dimreduce4gpu/.lib_dimreduce4gpu.py.swp
.setup.py.swp
dimreduce4gpu.egg-info/
dimreduce4gpu/__pycache__/
dimreduce4gpu/dimreduce4gpu.egg-info/
dist/

CMakeCache.txt
CMakeFiles/
cmake_install.cmake
.cproject
.project
build/
idea/
lib/
env/
*.idea/
.idea/
python/.idea/workspace.xml
tsvd/__pycache__/
.run_cmake.sh.swp
tests/__pycache__/
